@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
body {
  background: url('../img/Background.png') no-repeat center center;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
}
/*margin*/
.custom-margin {
  margin-top: 100px;
}

/*Header*/
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
body > section > div.header > div > nav {
  border: none;
  padding: 0px;
  margin: 0px;
}
.icon-btn {
  border: none;
  background: none;
  font-size: 1.5rem;
  transition: 0.5s;
}
.logo-container {
  text-align: center;
  flex-grow: 1;
}
#app > div > div.header > div.container > nav{
    border-top: 1px solid rgb(194, 190, 190);

}
.logo {
  max-height: 105px;
}
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 0.5s;
}
.nav-link:hover {
  color: #c92c3c;
  scale: 1.1;
}
.icon-btn:hover {
  color: #c92c3c;
  scale: 1.1;
}
.offcanvas {
  width: 250px;
}
/**/
@media (max-width: 800px) {
  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo-container {
    flex-grow: 1;
    text-align: center;
  }

  .logo {
    max-width: 80%;
    padding-right: 75px;
    /* max-height: 50px; */
  }
}
.menu-btn {
  border: #555555;
  background: none;
  font-size: 1.8rem;
  transition: 0.5s;
  cursor: pointer;
  padding: 4px 12px;
}

.menu-btn:hover {
  color: #c92c3c;
  scale: 1.1;
}
/*icon menu small*/
#offcanvasMenu > div.offcanvas-body > ul > div {
  display: grid;
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
}

/*main*/
.title-shops > span {
  font-size: 70px;
  color: #c92c3c;
}

.deals-hot-box {
  position: absolute;
  top: 800px;
  background-color: #c52332;
  color: white;
  padding: 30px;
  width: 320px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 130px;
  font-family: Arial, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link span {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .title-shops > span {
    font-size: 40px;
  }
}
.images-foods-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.images-foods-banner {
  position: relative;
}

.detail-foods {
  position: absolute;
  bottom: 120px;
  right: 120px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

/*main > section*/
.mid-banner {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.mid-banner img {
  height: auto;
  object-fit: cover;
  display: block;
}
.trans-left {
  position: absolute;
  background-color: #c92c3c;
  left: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.trans-right {
  position: absolute;
  background-color: #c92c3c;
  right: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/*foods homepage*/
.menu-header {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
  color: #b22222;
  margin: 0;
}

.menu-icon {
  display: flex;
  align-items: center;
  color: #b22222;
  font-weight: bold;
}

.menu-icon i {
  font-size: 20px;
  margin-right: 5px;
}
/*menu foods */
body > section > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-md-3.d-none.d-lg-block{
  border-right: 2px solid #ddd;
  padding-right: 20px;
}
.col-md-3 .title-menu {
  font-size: 50px;
  color: #c92c3c;
}
.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
}

.menu-list input[type='radio'] {
  display: none;
}

.menu-list label {
  gap: 15px;
  font-weight: bold;
  font-size: 21px;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-list label i {
  font-size: 18px;
  color: #ccc;
}
.menu-list input[type='radio']:checked + label {
  font-weight: bold;
  color: #c00;
}
.menu-list input[type='radio']:checked + label i {
  color: #c00;
}

@media (max-width: 768px) {
  .menu-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
  .mid-banner {
    margin: auto;
  }
  body > section > section > div > section > div > div > div.col-md-3.d-none.d-lg-block > span {
    font-size: 30px !important;
  }
}

/*menu dropdown*/
.menu-dropdown {
  position: absolute;
  width: 250px;
  right: 0;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 9999;
  padding: 10px 0;
  transition: all 0.3s ease;
}
.menu-dropdown .list-group-item {
  font-weight: bold;
  color: #c92c3c;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.menu-dropdown .list-group-item:hover {
  background: #e3e4e6;
}

.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon i {
  font-size: 1.5rem;
  margin-right: 8px;
}
#menuDropdown.show {
  display: block !important;
}


/*section food*/
.title-food-menu {
  font-size: 50px;
  color: #c92c3c;
}
/*left*/
.food-box-left {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  flex-wrap: nowrap;
  position: relative;
}

.food-box-left .col-md-4 {
  flex: 1;
  max-width: 40%;
  z-index: 2;
}

.food-box-left .col-md-4 img {
  width: 85%;
  height: auto;
}

.food-box-left .col-md-8 {
  flex: 2;
  max-width: 100%;
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  right: 160px;
}
.food-title {
  color: #c92c3c;
}
.food-price {
  font-size: 24px;
}

@media (max-width: 1208px) {
  .food-box-left {
    flex-wrap: nowrap;
  }

  .food-box-left .col-md-4 {
    max-width: 45%;
  }

  .food-box-left .col-md-8 {
    right: 100px;
    max-width: 100%;
    padding: 40px;
  }

  .food-box-left .food-title {
    font-size: 24px;
  }
  .food-box-left .food-desc {
    font-size: 12px;
  }
  .food-box-left .food-price {
    font-size: 18px;
  }
}
@media (max-width: 780px) {
  .food-box-left {
    flex-wrap: nowrap;
  }

  .food-box-left .col-md-4 {
    margin: 10px;
    max-width: 50%;
  }

  .food-box-left .col-md-8 {
    right: 30px;
    max-width: 80%;
    padding: 15px;
  }

  .food-box-left .food-title {
    font-size: 16px;
  }
  .food-box-left .food-desc {
    font-size: 8px;
  }
  .food-box-left .food-price {
    font-size: 14px;
  }
}
/*right*/
.food-box-right {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  flex-wrap: nowrap;
  position: relative;
}

.food-box-right .col-md-4 {
  flex: 1;
  max-width: 40%;
  z-index: 2;
}

.food-box-right .col-md-4 img {
  width: 85%;
  height: auto;
}

.food-box-right .col-md-8 {
  flex: 2;
  max-width: 100%;
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  right: 160px;
}
.food-title {
  color: #c92c3c;
}
.food-price {
  font-size: 24px;
}

@media (max-width: 1208px) {
  .food-box-right {
    flex-wrap: nowrap;
  }

  .food-box-right .col-md-4 {
    margin: 10px;
    max-width: 45%;
  }

  .food-box-right .col-md-8 {
    left: 100px;
    max-width: 100%;
    padding: 40px;
  }

  .food-box-right .food-title {
    font-size: 24px;
  }
  .food-box-right .food-desc {
    font-size: 12px;
  }
  .food-box-right .food-price {
    font-size: 18px;
  }
}
@media (max-width: 780px) {
  .food-box-right {
    flex-wrap: nowrap;
  }

  .food-box-right .col-md-4 {
    max-width: 50%;
  }

  .food-box-right .col-md-8 {
    left: 30px;
    max-width: 80%;
    padding: 15px;
  }

  .food-box-right .food-title {
    font-size: 16px;
  }
  .food-box-right .food-desc {
    font-size: 8px;
  }
  .food-box-right .food-price {
    font-size: 14px;
  }
}

.foods-homepages {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

/* Ẩn Webkit (Chrome, Safari) */
.foods-homepages::-webkit-scrollbar {
  width: 6px;
}

.foods-homepages::-webkit-scrollbar-thumb {
  background-color: #c92c3c;
  border-radius: 10px;
}

.foods-homepages::-webkit-scrollbar-track {
  background: #f8f9fa;
}

/*section infor - post - pupular*/
.popular-searches{
  margin-top: 30px;
}
.popular-searches h2{
  color: #c92c3c;
}
.popular-searches .badge {
  font-size: 14px;
}
.pots-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .popular-searches h2,
  .pots-section h2 {
      text-align: center;
  }

  .popular-searches .d-flex {
      justify-content: center !important;
  }
}
.pots-section {
  margin-top: 30px;
}
/*footer*/
.row a{
  text-decoration: none;
  color: black;
}
.body > section > footer > div > div:nth-child(1) > div:nth-child(4){
  border: none;
}
body > section > footer{
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 20px;
}
body > section > footer > div{
  /* justify-content: space-between; */
  text-align: center;
}
body > section > footer > div > div:nth-child(1) > div.col-md-2.mb-4{
  text-align: start;
}

@media (max-width: 768px) {
  body > section > footer > div > div:nth-child(1) > div.col-md-2.mb-4{
    text-align: start;
  }
  body > section > footer > div > div:nth-child(1) > div.col-md-3.mb-4{
    text-align: start;
  }
}

/*page food*/
body > section > div > div > div.col-md-3 > span{
  font-size: 70px;
  color: #c92c3c;
}



/* toan css  */
/* reservation  */
.custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  min-height: 600px;
  margin-top:5%;
  padding-bottom: 40px;
}
.booking-form {
  /* background-color: white; */
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}

/* .booking-form:hover{
  transform: translateY(-2px);
  box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.5);

} */

.booking-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.form-section {
  flex: 1;
  padding-left: 20px;
}
.btn-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #d9534f;
  background-color: transparent;
  color: #d9534f;
  padding: 10px;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #d9534f;
  color: white;
}

.price {
  margin: 0 20px;
}

option {

  max-width: 100% !important;
  color: white;
  background-color: #C92C3C !important;

}



select {
  background-color: #C92C3C !important;
  color:white !important;;
  box-shadow: none !important;
}

.row-select{
  border-bottom: 0.02px rgb(127, 127, 127) solid;
  margin-top: 10px;
  padding-bottom: 10px;
}
/* Ẩn mũi tên mặc định */
.form-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  padding-right: 30px;
  position: relative;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='white'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 15px;
}
.col-md-6 input{
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3)
}

.col-md-6 input:focus {
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc; /* Thêm viền nhẹ để tránh bị mất form */
}

/* end reservation page  */



/* discount page  */


.container-tong{
  display: flex;
}
.container-tong>img{
  width: auto;
  max-height: 1200px;
  z-index: 1;
}
.offer-container {
  max-width: 1200px;
  margin: auto;
  /* background: white; */
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}
.offer-title {
  color: #d32f2f;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

}
.offer-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(43, 43, 43, 0.3);
}
.offer-image {
  width: 100%;
  border-radius: 10px;
}
.offer-info h5 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.offer-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.offer-details div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.offer-link {
  font-weight: bold;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color:black;
}


.offer-item:first-child {
  display: flex;
  flex-direction: row-reverse;
}


/* Responsive */
@media (max-width: 768px) {

  .booking-form{
    width: 100% !important;
  }
  .offer-item {
      flex-direction: column;
      text-align: center;
  }
  .img-reservation{
    display: none;
  }
  .offer-info {
      width: 100%;
      padding-left: 0;
  }
  .offer-details {
      flex-direction: column;
      align-items: center;
  }

  .form-reservation{
    /* box-sizing: border-box!important; */
    /* width: 100%; */
  }
  .offer-details div{
      width: 90%;
      display: flex;
      justify-content: space-between;
  }
  .offer-link {
      text-align: start;
      margin-left: 20px;
  }
  /* .container-tong>img{
      width: 20px;
  } */


  .offer-item:first-child {
          flex-direction: column;
      }

  .form-section {
    width: 120% !important;
  }

}
/* end discount  */



/* Discount details */
.offer-ct-container {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  /* background: white; */
  padding: 40px;

  border-radius: 10px;
  border: 0.2px solid rgb(225, 225, 225);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}
.offer-ct-title {
  color: #d32f2f;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.offer-ct-image {
  width: 100%;
  border-radius: 10px;
}
.offer-ct-info h5 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.offer-ct-details {
  padding: 10px 0;
}
.offer-link {

  font-weight: bold;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color:black;
}
.offer-ct-banner {
  text-align: center;
  margin-bottom: 20px;
}
.offer-ct-banner img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.ma-left-20 {
  margin-left: 20px;
}
/*end Discount details */




