@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700&display=swap');
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}
body {
  background: url('../img/Background.png') no-repeat center center;
  background-size: cover;
  font-family: 'Barlow', sans-serif;
}
/*margin*/
.custom-margin {
  margin-top: 100px;
}

/*Header*/
#app > div > div.header > div.container > div > nav > div > button{
  padding: 5px;
}
#app > div > div.header > div.container > div > nav > div > button > span{
  font-size: 1rem;
}
.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
}
body > section > div.header > div > nav {
  border: none;
  padding: 0px;
  margin: 0px;
}
.icon-btn {
  border: none;
  background: none;
  font-size: 1.8rem;
  transition: 0.5s;
}
.logo-container {
  text-align: center;
  flex-grow: 1;
}
#app > div > div.header > div.container > nav{
    border-top: 1px solid rgb(194, 190, 190);

}
.logo {
  max-height: 120px;
}
.nav-link {
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: 0.5s;
}
.nav-link:hover {
  color: #c92c3c;
  scale: 1.1;
}
.icon-btn:hover {
  color: #c92c3c;
  scale: 1.1;
}
.offcanvas {
  width: 250px;
}
/**/
@media (max-width: 800px) {
  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  .logo-container {
    flex-grow: 1;
    text-align: center;
  }

  .logo {
    max-width: 80%;
    padding-right: 75px;
    /* max-height: 50px; */
  }
}
.menu-btn {
  border: #555555;
  background: none;
  font-size: 1.8rem;
  transition: 0.5s;
  cursor: pointer;
  padding: 4px 12px;
}

.menu-btn:hover {
  color: #c92c3c;
  scale: 1.1;
}
/*icon menu small*/
#offcanvasMenu > div.offcanvas-body > ul > div {
  /* display: grid; */
  gap: 10px;
  justify-content: space-between;
  padding: 20px;
}

/*main*/
.title-shops > span {
  font-size: 70px;
  color: #c92c3c;
}

.deals-hot-box {
  position: absolute;
  top: 800px;
  background-color: #c52332;
  color: white;
  padding: 30px;
  width: 320px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 130px;
  font-family: Arial, sans-serif;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.link span {
  display: inline-block;
  margin-left: 5px;
}

@media (max-width: 768px) {
  .title-shops > span {
    font-size: 40px;
  }
}
.images-foods-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.images-foods-banner {
  position: relative;
}

.detail-foods {
  position: absolute;
  bottom: 120px;
  right: 120px;
  color: rgb(0, 0, 0);
  font-size: 22px;
}

/*main > section*/
.mid-banner {
  margin: 0px;
  padding: 0px;
  position: relative;
}
.mid-banner img {
  height: auto;
  object-fit: cover;
  display: block;
}
.trans-left {
  position: absolute;
  background-color: #c92c3c;
  left: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.trans-right {
  position: absolute;
  background-color: #c92c3c;
  right: 3%;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
/*foods homepage*/
.menu-header {
  padding: 10px 20px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
  color: #b22222;
  margin: 0;
}

.menu-icon {
  display: flex;
  align-items: center;
  color: #b22222;
  font-weight: bold;
}

.menu-icon i {
  font-size: 20px;
  margin-right: 5px;
}
/*menu foods */
body > section > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-md-3.d-none.d-lg-block{
  border-right: 2px solid #ddd;
  padding-right: 20px;
}
.col-md-3 .title-menu {
  font-size: 45px;
  color: #c92c3c;
}
.menu-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 7px;
  padding: 0;
}

.menu-list li {
  display: flex;
  align-items: center;
}

.menu-list input[type='radio'] {
  display: none;
}

.menu-list label {
  gap: 15px;
  font-weight: bold;
  font-size: 21px;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.menu-list label i {
  font-size: 18px;
  color: #ccc;
}
.menu-list input[type='radio']:checked + label {
  font-weight: bold;
  color: #c00;
}
.menu-list input[type='radio']:checked + label i {
  color: #c00;
}

@media (max-width: 768px) {
  .menu-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
  }
  .mid-banner {
    margin: auto;
  }
  body > section > section > div > section > div > div > div.col-md-3.d-none.d-lg-block > span {
    font-size: 30px !important;
  }
}

/*menu dropdown small screnn*/
.menu-dropdown {
  position: absolute;
  width: 270px;
  right: 0;
  background: white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 9999;
  padding: 10px 0;
  transition: all 0.3s ease;
  max-height: 300px;
  overflow-y: auto;
}

.menu-dropdown .list-group-item {
  font-weight: bold;
  border: none;
  padding: 12px 20px;
}

#app > div > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-12.d-lg-none.position-relative > div.show.menu-dropdown > ul > li > ul > li > a{
  color: #c92c3c;
}


.menu-icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu-icon i {
  font-size: 1.5rem;
  margin-right: 8px;
}




/*section food*/
.title-food-menu {
  font-size: 50px;
  color: #c92c3c;
  /* text-shadow: 2px 2px 5px rgba(177, 177, 177, 0.5); */
  padding: 15px;
  background-color: white;
}
/*col3 food*/
/*menu dropdown*/
.nav-item.dropdown .dropdown-menu {
  width: 75%;
  display: none;
  position: absolute;
  background-color: white;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  padding: 15px;
  margin: 0;
  min-width: auto;
}
#app
  > div
  > section.main.d-flex.justify-content-center.align-items-center
  > div
  > section
  > div
  > div
  > div.col-md-3.d-none.d-lg-block
  > nav
  > ul
  > li
  > a {
  font-weight: bold;
  font-size: 23px;
  color: #c92c3c;
}

/*show menu*/
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu .dropdown-item {
  text-align: center;
  color:#c92c3c;
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  text-decoration: none;
  border: none;
  font-size: 20px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: #d5d5d565;
  color: #c92c3c;
}
/*col9 food*/
.title-food-menu {
  position: sticky;
  top: 0;
  left: 40px;
  z-index: 1000;
  background-color: #ffffff62;
}
.title-food-menu span{
  background-color: transparent;
}
#app > div > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-lg-9.align-items-center.text-center{
  margin: 0;
  padding: 0;
  gap: 0;
}
/*left*/
.food-box-left {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: left;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
  padding: 0;
}

.food-box-left .col-md-4 {
  flex: 1;
  max-width: 40%;
  z-index: 2;
}

.food-box-left .col-md-4 img {
  width: 85%;
  height: auto;
}

.food-box-left .col-md-8 {
  flex: 2;
  max-width: 100%;
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  right: 160px;
}
.food-title {
  color: #c92c3c;
}
.food-price {
  font-size: 24px;
}

@media (min-width: 1208px) {
  .food-box-left {
    flex-wrap: nowrap;
  }

  .food-box-left .col-md-4 {
    max-width: 45%;
  }

  .food-box-left .col-md-8 {
    right: 100px;
    max-width: 100%;
    padding: 45px;
  }

  .food-box-left .food-title {
    font-size: 24px;
  }
  .food-box-left .food-desc {
    font-size: 12px;
  }
  .food-box-left .food-price {
    font-size: 18px;
  }
}
@media (max-width: 1208px) {
  .food-box-left {
    flex-wrap: nowrap;
  }

  .food-box-left .col-md-4 {
    margin: 10px;
    max-width: 45%;
  }

  .food-box-left .col-md-8 {
    right: 70px;
    max-width: 70%;
    padding: 30px;
  }

  .food-box-left .food-title {
    font-size: 16px;
  }
  .food-box-left .food-desc {
    font-size: 8px;
  }
  .food-box-left .food-price {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .food-box-left {
    flex-wrap: nowrap;
  }

  .food-box-left .col-md-4 {
    max-width: 45%;
  }

  .food-box-left .col-md-8 {
    left: 70px;
    max-width: 65%;
    padding: 10px;
  }

  .food-box-left .food-title {
    font-size: 8px;
    margin-right: 10px;
  }
  .food-box-left .food-desc {
    font-size: 6px;
    margin-right: 10px;
  }
  .food-box-left .food-price {
    font-size: 8px;
    margin-right: 10px;
  }
}
/*right*/
.food-box-right {
  display: flex;
  align-items: center;
  justify-content: end;
  text-align: right;
  flex-wrap: nowrap;
  position: relative;
  margin: 0;
  padding: 0;
}

.food-box-right .col-md-4 {
  flex: 1;
  max-width: 40%;
  z-index: 2;
}

.food-box-right .col-md-4 img {
  width: 85%;
  height: auto;
}

.food-box-right .col-md-8 {
  flex: 2;
  max-width: 100%;
  background: white;
  padding: 40px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  position: absolute;
  right: 160px;
}
.food-title {
  color: #c92c3c;
}
.food-price {
  font-size: 24px;
}

@media (min-width: 1208px) {
  .food-box-right {
    flex-wrap: nowrap;
  }

  .food-box-right .col-md-4 {
    margin: 10px;
    max-width: 45%;
  }

  .food-box-right .col-md-8 {
    left: 100px;
    max-width: 100%;
    padding: 45px;
  }

  .food-box-right .food-title {
    font-size: 24px;
  }
  .food-box-right .food-desc {
    font-size: 12px;
  }
  .food-box-right .food-price {
    font-size: 18px;
  }
}
@media (max-width: 1208px) {
  .food-box-right {
    flex-wrap: nowrap;
  }

  .food-box-right .col-md-4 {
    max-width: 45%;
  }

  .food-box-right .col-md-8 {
    left: 70px;
    max-width: 70%;
    padding: 30px;
  }

  .food-box-right .food-title {
    font-size: 16px;
  }
  .food-box-right .food-desc {
    font-size: 8px;
  }
  .food-box-right .food-price {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .food-box-right {
    flex-wrap: nowrap;
  }

  .food-box-right .col-md-4 {
    max-width: 45%;
  }

  .food-box-right .col-md-8 {
    left: 70px;
    max-width: 65%;
    padding: 10px;
  }

  .food-box-right .food-title {
    font-size: 8px;
    margin-left: 10px;
  }
  .food-box-right .food-desc {
    font-size: 6px;
    margin-left: 10px;
  }
  .food-box-right .food-price {
    font-size: 8px;
    margin-left: 10px;
  }
}
.title-food-menu {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px;
}

#app > div > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-lg-9.align-items-center.text-center{
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

/* Ẩn Webkit (Chrome, Safari) */
#app > div > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-lg-9.align-items-center.text-center::-webkit-scrollbar {
  width: 6px;
}

#app > div > section.main.d-flex.justify-content-center.align-items-center > div > section > div > div > div.col-lg-9.align-items-center.text-center::-webkit-scrollbar-thumb {
  background-color: #c92c3c;
  border-radius: 10px;
}
.foods-homepages::-webkit-scrollbar-track {
  background: #f8f9fa;
}

/*section infor - post - pupular*/
.popular-searches{
  margin-top: 30px;
}
.popular-searches h2{
  color: #c92c3c;
}
.popular-searches .badge {
  font-size: 14px;
}
.pots-section h2{
  color: #c92c3c;
}
.pots-section img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .popular-searches h2,
  .pots-section h2 {
      text-align: center;
  }

  .popular-searches .d-flex {
      justify-content: center !important;
  }
}
.pots-section {
  margin-top: 30px;
}
/*footer*/
.row a{
  text-decoration: none;
  color: black;
}
.body > section > footer > div > div:nth-child(1) > div:nth-child(4){
  border: none;
}
body > section > footer{
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 20px;
}
body > section > footer > div{
  /* justify-content: space-between; */
  text-align: center;
}
body > section > footer > div > div:nth-child(1) > div.col-md-2.mb-4{
  text-align: start;
}

@media (max-width: 768px) {
  body > section > footer > div > div:nth-child(1) > div.col-md-2.mb-4{
    text-align: start;
  }
  body > section > footer > div > div:nth-child(1) > div.col-md-3.mb-4{
    text-align: start;
  }
}

/*page food*/
#app > div > section.foods > div.main-page-foods.container > div.row.d-flex.align-items-center.justify-content-between > div.col-md-3.d-none.d-lg-flex{
  font-size: 70px;
  color: #c92c3c;
}

.menus-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px 50px;
  list-style: none;
  padding: 0;
}
.menus-list li {
  display: flex;
  align-items: center;
}

/*section dish-by-category*/
/*bg banner*/
.background-banner {
  position: absolute;
  top: 100%;
  width: 100%;
  height: 500px;
  background-image: url('../img/bg-banner.png');
  background-size: cover;
  z-index: -1;
}
/**/
#app > div > section.foods > div.main-page-foods.container > div.row.d-flex.align-items-center.justify-content-between > div.col-md-6.d-none.d-lg-flex.justify-content-center.align-items-center > span{
  font-size: 70px;
  color: #c92c3c;
}
.dish-by-category {
  display: flex;
  justify-content: center;
}
#app > div > section.foods > section > div > div > div.col-12.images-dish.d-flex.justify-content-between{
  height: 300px;
  margin-bottom: 20px;
}
.img-dish img{
width: 20%;
position: absolute;
left: 10%;
}
.title-dish p{
margin-top: 20px;
text-align: center;
font-weight: bold;
font-size: 75px;
color: #c92c3c;
}
.custom-row {
  position: relative;
  background: white;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-top: 150px;
}
.product-card {
  text-align: center;
  padding: 20px;
  border-right: 1px solid #ccc;

}
.product-dish-title{
  font-weight: bold;
  color: #c92c3c;
}
@media (max-width: 1280px) {
  .custom-row{
    margin-top: 0px;
  }
  .img-dish img{
    position: static !important;
    width: 40%;
}
body > section > section > div > div > div > div > img{
  width: 65%;
}
body > section > section > div > div > div.col-12.images-dish.d-flex.justify-content-between{
  height: 25vh;
}
#app > div > section.foods > section > div > div > div > div{
  border-right: none;
}
}
@media (max-width: 900px) {
  body > section > section > div > div > div > div > img{
    width: 80%;
  }
}
@media (max-width: 768px) {
  .img-dish img{
    position: static !important;
    width: 90%;
  }
  .title-dish p{
    font-size: 35px;
  }
  .product-card img{
    width: 65%;
  }
  #app > div > section.foods > section > div > div > div{
    border-bottom: 1px solid #ddd;
  }
  #app > div > section.foods > section > div > div > div.col-12.images-dish.d-flex.justify-content-between{
    height: 200px;
  }
}
/*slide deals*/
.banner-deals {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
}
.banner-deals img {
  max-width: 100%;
  height: auto;
  display: block;
}
.trans-left,
.trans-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background:#c92c3c;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}
.trans-left {
  left: 10%;
}
.trans-right {
  right: 10%;
}
@media (max-width: 1280px) {
  #app > div > section.banner-deals{
    margin: 0;
    padding: 0;
  }
}
/*modal*/
.custom-modal {
  background-color:#ffffff ;
  border-radius: 0px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.5);
  padding: 20px;
  position: relative;
}
.custom-modal .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #ddd;
}
.custom-modal select:focus {
  outline: none;
  box-shadow: none;
  border-color: #ddd;
  background-color: #f5f5f5;
}
.custom-modal select{
  border-radius: 0px;
  background-color: white;
}
.modal-header{
  margin: 0px;
  padding: 5px;
}
body > div.container.custom-container > div > div.col-md-6.form-section.mt-2 > button.btn.btn-custom.mb-2{
  padding: 10;
  border-radius: 0;
}
body > div.container.custom-container > div > div.col-md-6.form-section.mt-2 > button.btn.btn-danger.w-100{
  padding: 10px;
  border-radius: 0;
}
/**/
.modal-body p,
.modal-body h4,
.modal-body label {
  color: #c92c3c;
}
.topping-container {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.topping-list {
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}









/* toan css  */
/* reservation  */
.custom-container {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  min-height: 600px;
  margin-top:5%;
  padding-bottom: 40px;
}
.booking-form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
}
.booking-form input{
  border-radius: 0px;
}
.booking-image img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 10px;
}
.form-section {
  flex: 1;
  padding-left: 20px;
}
.btn-custom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #d9534f ;
  background-color: transparent;
  color: white;
  background-color:#dc3545 ;
  padding: 10px;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #bb2d3b;
  color: white;
}
.price {
  margin: 0 20px;
}
.row-select{
  border-bottom: 0.02px rgb(127, 127, 127) solid;
  margin-top: 10px;
  padding-bottom: 10px;
}
.form-select {
  color: black;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  padding-right: 30px;
}

.form-select>option{
  max-width: 100%;
  overflow: hidden;
  max-width: 100% !important;
  color: black;
}
.form-section input{
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding:10px ;
}

.form-section input:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.custom-select {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  padding:10px;
  border-radius: 0%;
}

.custom-select:focus{
  outline: none;
  box-shadow: none;
  border: 1px solid #ccc;
}

.container-tong{
  display: flex;
}
.container-tong>img{
  width: auto;
  max-height: 1200px;
  z-index: 1;
}
.offer-container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}
.offer-title {
  color: #d32f2f;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;

}
.offer-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding-bottom: 20px;
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(43, 43, 43, 0.3);
}
.offer-image {
  width: 100%;
  border-radius: 10px;
}
.offer-info h5 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.offer-details {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.offer-details div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.offer-link {
  font-weight: bold;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color:black;
}
.offer-item:first-child {
  display: flex;
  flex-direction: row-reverse;
}
/* Responsive */
@media (max-width: 768px) {
.description2{
  display: none;
}
  .booking-form{
    width: 100% !important;
  }
  .offer-item {
      flex-direction: column;
      text-align: center;
  }
  .img-reservation{
    display: none;
  }
  .offer-info {
      width: 100%;
      padding-left: 0;
  }
  .offer-details {
      flex-direction: column;
      align-items: center;
  }
  .offer-details div{
      width: 90%;
      display: flex;
      justify-content: space-between;
  }
  .offer-link {
      text-align: start;
      margin-left: 20px;
  }
  .offer-item:first-child {
          flex-direction: column;
      }

  .form-section {
    width: 120% !important;
  }

}
/* end discount  */



/* Discount details */
.offer-ct-container {
  max-width: 900px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 40px;
  /* background: white; */
  padding: 40px;

  border-radius: 10px;
  border: 0.2px solid rgb(225, 225, 225);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);

}
.offer-ct-title {
  color: #d32f2f;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
.offer-ct-image {
  width: 100%;
  border-radius: 10px;
}
.offer-ct-info h5 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.offer-ct-details {
  padding: 10px 0;
}
.offer-link {

  font-weight: bold;
  color: black;
  display: block;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-color:black;
}
.offer-ct-banner {
  text-align: center;
  margin-bottom: 20px;
}
.offer-ct-banner img {
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
}

.ma-left-20 {
  margin-left: 20px;
}
/*end Discount details */




